# Database
DATABASE_URL="postgresql://postgres:SUA_SENHA@localhost:5432/acode_lab"

# NextAuth.js
NEXTAUTH_SECRET="sua-chave-secreta-aqui-123456789"
NEXTAUTH_URL="http://localhost:3001"

# Environment
NODE_ENV="development"
